body{
    padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 10% 10rem;
}


.image{
    min-height:40rem;
    min-width:33rem;
    padding: 20px;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


.innerCarousel{
    display: flex;
}

.carousel{
    cursor:grab;
    overflow: hidden;
    border:1px solid rgb(221, 216, 216);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}


@media screen and (max-width: 768px) {
    body{
        margin: 8% 2rem;
    }
    .image{
        min-height:30rem;
        min-width:23rem;
        padding: 15px;
    }
    
}
    
